<div main-area layout="row" >
    <div layout="row" layout-xs="column">
        <div flex="initial">
            <img class="rsp-user" ng-src="apiv1/image/{{ user.profileImage.idImage }}.{{ user.profileImage.type }}"/>
            <h2>{{user.nome}}</h2>
            <div layout="row" layout-wrap ng-repeat="profileValue in profileValues" >
                <div flex="initial">{{ profileValue.profileField.label }}</div>
                <div flex>{{ profileValue.value }}</div>
            </div>
            <div follow-btn user="user"></div>
        </div>
        <div flex>
            <div time-line posts="posts" ></div>
        </div>
    </div>
</div>