<div layout="row" flex="" class="layout-row">
    <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2"
                md-component-id="left" hide-print
                md-is-locked-open="$mdMedia('gt-sm')">
        <header class="nav-header">
            <img class="rsp-user" ng-src="apiv1/image/{{ user.profileImage.idImage }}.{{ user.profileImage.type }}"/>
            <h2 class="docs-logotype md-heading">Bem Vindo {{user.nome}}</h2>
        </header>
        <md-content layout-padding >
                <ul class="rsp-menu" rsp-menu>
                    <li><md-button ng-href="#/main">Página Inicial</md-button></li>
                    <li><md-button ng-href="#/editprofile" >Editar Perfil</md-button></li>
                    <li>
                        <h2 class="menu-heading md-subhead ng-binding ng-scope">
                            Listas
                        </h2>
                        <ul>
                            <li ng-repeat="lista in listas"  >
                                <md-button ng-href="#/lista/{{lista.idList}}/{{lista.name}}" >{{lista.name}}</md-button>
                            </li>
                            <li><md-button ng-href="#/criarlista" >Criar Lista</md-button></li>
                        </ul>


                    </li>
                    <li>
                        <h2 class="menu-heading md-subhead ng-binding ng-scope">
                            Seguindo
                        </h2>
                        <md-list>
                            <md-list-item  ng-repeat="u in seguindo" ng-href="#/user/{{u.idUsuario}}/{{u.nome}}" >
                                <img class="md-avatar" ng-src="apiv1/image/{{ u.profileImage.idImage }}.{{ u.profileImage.type }}" />
                                <span>{{u.nome}}</span>
                            </md-list-item>
                        </md-list>
                    </li>
                    <li>
                        <h2 class="menu-heading md-subhead ng-binding ng-scope">
                            Seguidores
                        </h2>
                        <md-list>
                            <md-list-item  ng-repeat="u in seguidores" ng-href="#/user/{{u.idUsuario}}/{{u.nome}}" >
                                <img class="md-avatar" ng-src="apiv1/image/{{ u.profileImage.idImage }}.{{ u.profileImage.type }}" />
                                <span>{{u.nome}}</span>
                            </md-list-item>
                        </md-list>
                    </li>
                </ul>
        </md-content>
    </md-sidenav>


    <div layout="column" tabIndex="-1" role="main" flex>
        <md-toolbar class="md-whiteframe-glow-z1 site-content-toolbar">
            <div class="md-toolbar-tools" tabIndex="-1">
                <md-button class="md-icon-button" ng-click="openMenu()" hide-gt-sm aria-label="Toggle Menu">
                    <md-icon md-svg-src="images/ic_menu_white_24px.svg"></md-icon>
                </md-button>

                <span flex><img src="images/logorsp.png" /></span>

                <md-autocomplete
                        md-selected-item="selectedItem"
                        md-search-text-change="searchTextChange(searchText)"
                        md-search-text="searchText"
                        md-selected-item-change="selectedItemChange(item)"
                        md-items="item in searchItens"
                        md-item-text="item"
                        md-min-length="0"
                        placeholder="Pesquisar">
                    <md-item-template>
                        <span md-highlight-text="searchText" md-highlight-flags="^i">{{item}}</span>
                    </md-item-template>
                    <md-not-found>
                        nenhum usuario ou lista encontrado.
                    </md-not-found>
                </md-autocomplete>
            </div>
        </md-toolbar>

        <md-content md-scroll-y layout="column" flex>
            <div ng-transclude layout-padding flex="noshrink"></div>
        </md-content>
    </div>
</div>