<md-card>
	<md-card-title>
		<md-input-container class="md-block">
			<label>Biography</label>
      <textarea 
      	ng-model="txtPost"
      	md-maxlength="150" 
      	rows="5" 
      	md-select-on-focus 
      	ng-focus="focusPostArea()" 
      	ng-blur="focusLostPostArea()" ></textarea>
    </md-input-container>
  </md-card-title>

	<md-card-actions layout="row"  ng-show="editing" >
		<md-button md-no-ink class="md-primary" ng-click="postar()">Postar</md-button>
		<md-button md-no-ink class="md-primary" ng-click="habilitaImagem()">Imagem</md-button>
		<lf-ng-md-file-input ng-show="addImagem" lf-files='files' drag multiple preview accept="image/*"> </lf-ng-md-file-input>
	</md-card-actions>
</md-card>